<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'commonHeader.html' %}
    <title>Analytics | shortCuts</title>
    <link rel="stylesheet" href="/public/src/analytics-min.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <div id="heading">
        <div id="link-info">
            <h1 ><a href="https://shrnk.xyz/{{analytics.short_link}}" target="_blank" class="a">shrnk.xyz/{{analytics.short_link}}</a></h1>
            <p><strong>Unique id</strong> - {{analytics.unique_id}}</p>
            <p><strong>Long Link</strong> - {{analytics.link}}</p>
            <p><strong>Is Preview</strong>- {{analytics.is_preview}}</p>
            
        </div>
        <div id="inside-div">
            <div id="buttons-div">
                <button class="edit-div-input" id="edit-link">Edit Link</button>
                <button  class="edit-div-input {{analytics.toggle.color}}" id="toggle-link" value={{analytics.toggle.value}}>{{analytics.toggle.textContent}}</button>
                <button style="color: rgb(176, 7, 7);" class="edit-div-input" id="delete-link">Delete Link</button>
            </div>
            <div id="map"></div>
            <br>
            <div id="chart">
                <h3>Clicks Per day</h3>
            </div>
            <br>
        </div>
</div>
</body>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin="" type="module"></script>
<script src="/public/src/utils/map.js" type="module"></script>
<script src="/public/src/modules/analytics.js" type="module"></script>
</html>