<!DOCTYPE html>
<html lang="en">
    {% include 'redirect.html' %}
<head>
    {% include 'commonHeader.html' %}
    <link rel="stylesheet" href="./public/src/index.css">

    <title>Shorten Your Links | shortCuts</title>
</head>
<style>
    #img {
   
    height: 10em; width: 10em;
    margin-top: 20px;
    }
</style>
<script>
    console.log(!localStorage.getItem(10))
    if (!localStorage.getItem(10)) {
        localStorage.setItem(10, true)
        alert("We just updated to version 1.0.3, checkout Documentation for more info")
    }
</script>
<body>
<center>
    <div style="margin-top: 80px;">
        <h2 style="font-size: 3em;">Hi Folks!!</h2>
        <div style="font-size: 2em;max-width: 85%;"><p>Development of <p style="color: yellow;display: inline;">shrnk.xyz</p> has been halted, meanwhile please visit <p style="color: yellow;display: inline;"><a href="/Documentation">Documentation</a></p> for accessing services by API</p></div>
    </div>
    <footer>
        <ul style="font-size: 2em; display: flex;justify-content: center;list-style-type: none;margin-top: 20px;gap: 20px;">
            <li><a href="/User">User</a></li>
            <li><a href="/About" id="user">About</a></li>
            <li><a href="/Documentation">Documentation</a></li>
            <li><p id="copyright">&copy;shortCuts</p></li>
        </ul>

    </footer>
    <img src="./public/src/logo.svg" id="img" alt="logo">
</center>
</body>
</html>