* {
    margin: 0;
    padding: 0;
    --background-color: #040D12;
    --color: white;
    --color-hover: rgb(188, 188, 188);
    --color-yellow: yellow;
    --color-yellow-hover: rgb(188, 188, 0);
  }
  

  body {
  
    background-color: var(--background-color);
    color: var(--color);
  
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
  }
  .root {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
  }
  .redirect {
    color: white;
    font-size: 1.65em;
    text-decoration: none;
  }
  .redirect:hover {
    color: rgb(183, 172, 172);
  }
  #card {
    background-color: #5C8374;
    margin: 40px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    border-radius: 20px;
    padding: 40px;
  }
  
  #endpoint {
    background-color: #183D3D;
    padding: 10px;
    margin: 5px auto;
    width: 80%;
    border-radius: 20px;
  }

  .endpoint {
    background-color: #183D3D;
    padding: 10px;
    margin: 5px auto;
    width: 80%;
    border-radius: 20px;
  }
  
  input{
    min-width: 300px;
    
    color: white;
    border: transparent;
    background-color: #131c20;
    border-radius: 20px;
   
    padding: 15px;
  }

  .route-div{
    display: flex;
    min-width: 300px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #131c20;
    border-radius: 20px;
    margin: 40px;
    padding: 15px;
  }
  
  #summary {
    padding: 10px;
  }
  
  #response {
    padding: 20px;
  }
  
  li {
    margin: 10px;
  }
  
  .suc {
    list-style-type: none;
  }
  
  #successfull-response {
    margin-top: 10px;
    padding: 10px;
    background-color: #040D12;
    width: 70%;
    border-radius: 20px;
  }
  
  #parameters {
    margin-top: 10px;
    padding: 10px;
    background-color: #040D12;
    width: 70%;
    border-radius: 20px;
  }
  
  #content-type {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    
  }





/*For api playground*/


  textarea {
    margin: 10px;
    background-color: #131c20;
    width: 80%;
    color: whitesmoke;
    border-radius: 15px;
    padding: 20px;
    border: transparent;
  }
  
  #route {
    display: flex;
    min-width: 20%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #131c20;
    border-radius: 20px;
    margin-top: 10px;
    padding: 12px;
    font-size: 0.55em;
  }

  #route1 {
    margin: 10px auto;
    display: flex;
    min-width: 40%;
    max-width: 60%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #131c20;
    border-radius: 20px;
    margin-top: 10px;
    padding: 40px;
    font-size: 1rem;
  }

  select {
    min-width: 150px;
    background-color: #131c20;
    text-align: center;
    border-radius: 15px;
    border: transparent;
    margin-left: 5px;
    padding: 20px;
    color: white;
    font-size: 1em;
    font-weight: 800;
  }

  #submit {
    min-width: 150px;
    background-color: #131c20;
    text-align: center;
    border-radius: 15px;
    border: transparent;
    margin-left: 5px;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 800;
  }
  
  #submit:hover {
    background-color: #223138;
    cursor: pointer;
  }
  
  select {
    -webkit-appearance: none;
  }
  
.fief {
  background-color: #5C8374;
  align-self: flex-start;
  padding: 10px;
  border-radius: 10px;
  border: transparent;
  margin-left: 3rem;
  margin-bottom: 5rem;
}




/* Scrollback Scroll */

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #161616;
}

::-webkit-scrollbar-thumb {
	background: #3e3e3e;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}