* {
    margin: 0;
    padding: 0;
    --background-color: #131517;
    --color: white;
    --color-hover: rgb(188, 188, 188);
    --color-yellow: yellow;
    --color-yellow-hover: rgb(188, 188, 0);
}

::selection{
    background-color: var(--color-yellow-hover);
    color: var(--background-color);
}

body {
    backdrop-filter: blur(23px);
 
    background-color: var(--background-color);
    color: var(--color);

    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#main {
    /*border: 1px blue solid;*/
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;

}

#main-1 {
    /*border: 1px white solid;*/
    margin: 5%;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#heading {
    /*border: 1px white solid;*/
    width: 35%;
    height: fit-content;
    font-size: 2.75rem;
}
#card {
    /*border: 1px white solid;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-right: 0px;
    gap: 10px;
}

#pass-link {
    color: var(--color);
    background-color: transparent;
    border: transparent;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

#pass-link:focus {
    outline: none;
}

#search {
    color: var(--color);
    background-color: #1c1e20;
    border: transparent;
    padding: 5px;
    border-radius: 17px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    margin: 5px 0;
    justify-content: flex-end;
}


.newInputEl {
    margin-top: 10px;
    color: var(--color);
    background-color: #1c1e20;
    border: transparent;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    width: fit-content;
    padding: 15px;
    border-radius: 17px;
    float: right;
}

.newInputEl:focus {
    outline: none;
}

.newSelectEl {
    margin-top: 10px;
    color: #979899;
    background-color: #1c1e20;
    border: transparent;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    width: fit-content;
    padding: 15px;
    border-radius: 17px;
    float: right;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.newSelectEl :focus{
    outline: none;
  }
  
 .option {
    color: white;
  }
  
#custom-link-div {
    display: flex;
    flex-flow: column wrap;
    align-content: end;

}

#inputElDiv {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    align-items: flex-end;

}

.a{
    color: var(--color);
    text-decoration: none;
}

.a:hover {
    color: var(--color-yellow);
    text-decoration: none;
}

.randomise {
    align-self: flex-end;
    color: var(--color);
    margin-top: 2px;
}

.randomise:hover {
    color: var(--color-yellow);
}
.circle {
    padding: 10px 10px !important;
   
    color: black; 
    cursor: pointer;
    user-select: none !important;
    background-color: var(--color-yellow);
    border-radius: 100px;
    width: 38px;
}

.circle:hover {
    background-color: var(--color-yellow-hover);
}

footer {
    margin-left: 5%;
}

#bottom-nav {
    /*border: 1px solid white;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px ;
    margin: 0;
    margin-top: -2%;
    margin-bottom: 30px;
    font-size: 1.7rem;
    cursor: none;
    list-style-type: none;
}

ul > li> a {
    color: white;
    text-decoration: none;
}

ul > li> a:hover {
    color: var(--color-hover);
}



#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:  rgba(0, 0, 0, 1);
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.8;
    z-index: 100;
}



#wrapper {
    display: none;
}

#popup {
	display: flex;
	flex-flow: column wrap;
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 12px;
	color: var(--color);
	background-color: #111213;
	border: 0.5px solid var(--color-hover);
	width: 400px;
	max-height: fit-content;
	max-width: 80%;
	margin-left: -200px;
	margin-top: -200px;
	z-index: 200;
}
/* 
#popup {
    display: flex;
    flex-flow: column wrap;
    position: fixed;
    top: 50%;
    left: 50%;
border-radius: 12px;
    color: var(--color);
    background-color: #111213;
    border: 0.5px solid var(--color-hover);  
      width: 400px;
    height: 200px;
    max-width: 80%;
    margin-left: -200px; /*Half the value of width to center div*/
    /* margin-top: -200px; /*Half the value of height to center div*/
    /* z-index: 200; */ 

#popupcontent {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

/* #search-flex-link  {
    color: var(--color);
    background-color: #1c1e20;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-weight: 700;
    text-align: center;
    font-family: 'Source Code Pro', monospace;

    margin: 10px 0;
    padding-top: 15px;
} */



#search-flex-link {
	color: var(--color);
	background-color: #1c1e20;
	border: none;
	padding: 15px;
	border-radius: 12px;
	font-weight: 700;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	/* margin: 10px 0;
	padding-top: 15px;
	max-width: 210px;
	/* line-break: 100px; */
	/* height: fit-content; */
	/* min-width: 240px; */
	min-height: 20px;
	word-break: break-all;
}
.copy-buttons {
    color: var(--color);
    background-color: #1c1e20;
    border: 0.5px solid var(--color-hover);
    padding: 12px 12px !important;
    border-radius: 100px;
    text-align: center;
    /* margin: 10px 0; */
    cursor: pointer;
    user-select: none;
}

.copy-buttons:checked {
    
    background-color: #070608;
}
#result {
    margin-top: 0px;
    font-size: 14px;
}
#popupclose {
    float: right;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bolder;
}

#search-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 14px;
    padding-top: 20px;
}




#copyright {
    display: block;
    font-size: 18px;
    font-weight: 900;
    color: var(--color-yellow);
}



#custom-link {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}


#custom-link:hover {
    color: var(--color-yellow);
    cursor: pointer;
}



::-webkit-scrollbar {
    width: 17px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #323335; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #323335; 
  }


  
  #popupclose:hover {
    color: var(--color-hover);
}

@media only screen and (max-width: 800px) {
 #main-1 {
    margin: 2%;
 }

}

@media only screen and (max-width: 950px ) {
    #heading {
       width: 65%;
    }
   
   }

@media only screen and (max-width: 2000px) {
	#heading {
		width: 25%;
	}
}
@media only screen and (max-width: 600px) {

    
    * {
        box-sizing: border-box;
      }
    body {
        color: var(--color);
        background-color: var(--background-color);
        font-size: 20px;
        font-family: 'Source Code Pro', monospace;
    }
    

    #main {
        /*border: 1px blue solid;*/
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #main-1 {
        /*border: 1px white solid;*/
        margin: 5%;
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
        max-width: 100%;
    }

    #heading {
        /*border: 1px white solid;*/
        width: 30%;
        height: fit-content;
        text-indent: 1px;
        word-spacing: 2px;
        letter-spacing: 2px;
    }

    h1 {
        font-size: 3.25rem;
        font-weight: bold;
    }
    #search-flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 5px;
        padding: 0;
    }
    #card {
        /*border: 1px white solid;*/
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 340px;
        margin-top: -10px;
        /* margin-right: 2px; */
    }
    /* .material-symbols-outlined  {
        padding: 1px !important;
        font-size: 30px !important;
        user-select: none !important;
    } */
    #search {
        /* width: 270px;
        height: 50px;
        border-radius: 8px;
        border: transparent;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
 */
        color: var(--color);
        background-color: #1c1e20;
        border: transparent;
        padding: 5px;
        border-radius: 17px;
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        margin: 5px 0;
    }

    .newInputEl {
        margin-top: 10px;
        color: var(--color);
        background-color: #1c1e20;
        border: transparent;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        font-family: 'Source Code Pro', monospace;
        width: 220px;
        padding: 15px;
        border-radius: 13px;
        display: flex;
        justify-content: end;
    }

    .newSelectEl {
        margin-top: 10px;
        color: #979899;
        background-color: #1c1e20;
        border: transparent;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        font-family: 'Source Code Pro', monospace;
        width: fit-content;
        padding: 15px;
        border-radius: 13px;
        float: right;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    
    #pass-link {
        text-align: center;
        font-size: 20px;
        font-weight: bold;

        text-align: center;



}

.randomise{
    font-size: 17px;
    word-spacing: -1.5px;
    letter-spacing: -1px;
}
    /* #pass-submit {
        width: 300px;
        height: 50px;
        background-color: var(--color-yellow);
        border: transparent;
        border-radius:30px;
        height: 50px;
        width: 50px;
        padding: 10px;
    } */
/* #pass-submit {
    display: none;
} */

#custom-link {
    font-size: 17px;
    word-spacing: -1.5px;
    letter-spacing: -1px;
}

    #bottom-nav {
        /*border: 1px solid white;*/
        display: flex;
        flex: row nowrap;
        gap: 17px ;
        margin: 5%;
        margin-top: 2%;
        font-size: 1.5rem;
    }
    /* #pass-submit:hover{
        background-color: var(--color-yellow-hover);
        color: black;
    } */
    #popup {
        position: fixed;
        top: 50%;
        left: 47%;
        color: var(--color);
        background-color: var(--background-color);
        border: 0.5px solid var(--color-hover);  
        border-radius: 10px;
        width:370px;
        height: fit-content;
        min-width: 310px;
        max-width: 80%;
        margin-left: -150px; 
        margin-top: -100px; 
        z-index: 200;
    }
    
    #popupclose {
        padding: 7px;
        font-size: 32px;
       
    }


        #popupcontent > h3 {
            font-size: 20px;
            margin-bottom: 7px;
        }
    #copyright {
        font-size: 15px;
        font-weight: 900;
        color: var(--color-yellow);
        cursor: none;
    }
    
#copy-button:hover {
    color: var(--color);
    background-color: #1e1e1e;
}

#overlay {
    width: 100%;
    height: 100%;

}
    
#result {
    font-size: 14px;
}
#search-flex-link  {
    color: var(--color);
    background-color: #1c1e20;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-weight: 700;
    text-align: center;
    font-family: 'Source Code Pro', monospace;

    margin: 10px 0;

}

.copy-buttons {
    /* color: var(--color); */
    /* border: 0.5px solid rgba(255,255,255, 0.5); */
        /* padding: 7px !important; */
        border-radius: 100px;
        /* font-size: 25px !important; */
        text-align: center;
        /* margin: 10px 0; */
       width: 50px;
        cursor: pointer;
        user-select: none;
}


.circle {
    padding: 10px 10px !important;
    color: black; 
    cursor: pointer;
    user-select: none !important;
    background-color: var(--color-yellow);
    border-radius: 100px;
    width: 52px;
}

.circle:hover{
    background-color: var(--color-yellow-hover);
    color: black;
}
    }

